@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  background: #FFFFFF;
  color: #333333;
}

.contenedor {
  width: 100%;
  display: grid;
  grid-gap: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);

  grid-template-areas:
    "header header"
    "main_banner main_banner"
    "banner img_banner"
    "productos productos"
    "footer footer";
}

/*____________________Header*/

.contenedor .header li,
.contenedor .header a,
.contenedor .header button {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.contenedor .header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
  z-index: 10000;
  transition: 0.6s;
  grid-area: header;
}

.contenedor .header .logo {
  font-weight: 600;
  font-size: 40px;
  font-style: italic;
}

.contenedor .header .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.contenedor .header .nav_links li a {
  transition: all 0.3s ease 0s;
}

.contenedor .header .nav_links li a:hover {
  color: #706c61;
}

.contenedor .header .loginButton {
  padding: 6px 15px;
  font-style: italic;
  background-color: #ffffff;
  color: #333333;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

.contenedor .header .loginButton:hover,
.contenedor header.sticky .loginButton {
  color: #ffffff;
  background-color: #333333;
}

.contenedor header.sticky {
  background-color: #ffffff;
  padding: 20px 90px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 5px 0;
}

.contenedor header.sticky li a,
header.sticky .logo {
  color: #333333;
}

/*____________________Contenido*/
/*Banner Principal*/
.contenedor .main_banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/inicio/boca_banner.jpg);
  background-size: cover;
  grid-area: main_banner;
}

/*Banner 2*/
.banner {
  position: relative;
  width: 100%;
  height: 95vh;
  padding: 50px 40px;
  background-color: #ffffff;
  grid-area: banner;
}

.banner h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

.banner p {
  font-size: 20px;
  font-style: italic;
}

.img_banner {
  display: flex;
  justify-content: center;
  grid-area: img_banner;
}

.img_banner img {
  height: 95vh;
  width: auto;
}

/*Productos*/
.productos {
  grid-area: productos;
  margin: 50px 0 0 0;
}

.productos h2 {
  padding: 0 0 20px 40px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 450px;
  margin: 20px 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.280) 0px 2px 8px;
  transition: all 0.5s;
}

.product:hover {
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.200);
}

.product .product-info {
  border-top: 1px #706c61 solid;
  width: 100%;
  font-size: 14px;
  text-align: left;
  padding: 5px 10px 0 10px;
}

.product .product-info .product-title {
  width: 100%;
  height: 60px;
}

.product .product-info .product-year {
  font-size: 10px;
  font-weight: 600;
}

.product .product-info .product-price {
  margin: 10px 0;
  font-size: 18px;
}

.product img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
}

input[type="submit"] {
  width: 90px;
  height: 40px;
  margin: 0 0 30px 0;
  border: 1px solid;
  background: #333333;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: #ffffff;
  background: #706c61;
  transition: .5s;
  transform: scale(1.1);
}

/*____________________Footer*/
.contenedor footer {
  background: #333333;
  color: #fff;
  margin: 50px 0 0 0;
  padding: 30px 0 0 0;
  grid-area: footer;
}

.contenedor footer .footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contenedor footer .footer_content h3 {
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
}

.contenedor footer .footer_content .nav_links,
.contenedor footer .footer_content .socials {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
}

.contenedor footer .footer_content .nav_links li,
.contenedor footer .footer_content .socials li {
  margin: 0 10px;
}

.contenedor footer .footer_content .nav_links a,
.contenedor footer .footer_content .socials a {
  color: #fff;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.contenedor footer .footer_content .nav_links a:hover,
.contenedor footer .footer_content .socials a:hover {
  color: #706c61;
}

.contenedor footer .footer_content .socials i {
  font-size: 20px;
}

.contenedor footer .footer_content .footer_copyright {
  color: #706c61;
  font-size: 10px;
  font-style: italic;
  margin: 30px 0 0 0;
}


@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header header"
      "main_banner main_banner"
      "img_banner img_banner"
      "banner banner"
      "productos productos"
      "footer footer";

  }
}